<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
</head>
<body class="bg-gray-100">
<script src="https://cdn.tailwindcss.com"></script>

{% include "nav.html" %}

<main class="py-10">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white shadow-md rounded-lg p-6">

            {% block content %}
            {% endblock %}
        </div>
    </div>
</main>
</body>
</html>
