{% extends "common.html" %}

{% block head %}
<title>Анализ</title>
{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold text-gray-800 mb-4">Загрузка и обработка файла</h1>

<form id="upload-form" class="mb-6">
    <input type="file" id="file-input" class="hidden" accept=".csv, .xls, .xlsx">
    <label for="file-input" class="cursor-pointer bg-blue-500 text-white px-6 py-2 rounded-lg shadow-md hover:bg-blue-600 transition">
        Выбрать файл
    </label>
    <button type="submit" class="bg-green-500 text-white px-6 py-2 rounded-lg shadow-md hover:bg-green-600 transition ml-4">
        Загрузить
    </button>
</form>

<a id="download-btn" href="#" class="bg-gray-400 text-white px-6 py-2 rounded-lg shadow-md cursor-not-allowed" disabled>
    Скачать результаты
</a>

<!-- Контейнер с таблицей -->
<div id="results-container" class="mt-6 hidden">
    <h3 class="text-xl font-semibold mb-4">Результаты</h3>
    
    <div class="max-w-full border rounded-lg">
        <table class="w-full table-fixed border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-300 px-4 py-2 w-3/5 break-all whitespace-normal">Текст</th>
                    <th class="border border-gray-300 px-4 py-2 w-1/10">Лейбл</th>
                    <th class="border border-gray-300 px-4 py-2 w-1/10">Уверенность</th>
                </tr>
            </thead>
            <tbody id="results-body"></tbody>
        </table>
    </div>
</div>

<script src="static/js/data_analyze.js"></script>
{% endblock %}
