{% extends "common.html" %}

{% block head %}
<title>Разметка</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
{% endblock %}




{% block content %}
<!-- <div class="max-w-4xl mx-auto"> -->
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Загрузка и разметка файла</h1>

    <!-- Блок загрузки файла -->
    <!-- <div class="bg-white rounded-lg shadow-md p-6 mb-6"> -->

    <div class="bg-white rounded-lg shadow-md p-6 mb-6">
        <form id="upload-form">
            <div class="flex flex-col sm:flex-row gap-4 mb-6">
                <div class="flex-1">
                    <input type="file" id="file-input" class="hidden" accept=".csv, .xls, .xlsx">
                    <label for="file-input" class="flex-1 w-full block text-center cursor-pointer bg-blue-500 text-white px-4 py-3 rounded-lg shadow-md hover:bg-blue-600 transition">
                        Выбрать файл
                    </label>
                    </div>
                <button type="submit" class="flex-1 bg-purple-700 text-white px-4 py-3 rounded-lg shadow-md hover:bg-green-600 transition">
                    Загрузить
                </button>
            </div>
        </form>

        <!-- Блок кнопок классификации -->
        <div class="flex flex-col sm:flex-row gap-4 mb-6">
            <button id="btnA" class="flex-1 bg-green-500 text-white px-4 py-3 rounded-lg shadow-md hover:bg-green-600 transition flex items-center justify-center">
                😊 Добрый
            </button>
            <button id="btnB" class="flex-1 bg-yellow-500 text-white px-4 py-3 rounded-lg shadow-md hover:bg-yellow-600 transition flex items-center justify-center">
                😐 Нейтральный
            </button>
            <button id="btnC" class="flex-1 bg-red-500 text-white px-4 py-3 rounded-lg shadow-md hover:bg-red-600 transition flex items-center justify-center">
                😠 Злой
            </button>
        </div>

        <!-- Блок текущего сообщения -->
        <div id="currentMessage" class="bg-gray-50 p-4 rounded-lg border border-gray-200 mb-6 min-h-[120px]"></div>
        <div class="flex flex-col sm:flex-row gap-4">
            <button id="btnDownload" type="download" class="flex-1 bg-gray-400 text-white px-80 py-3 rounded-lg shadow-md  transition cursor-not-allowed" disabled>
                Скачать
            </button>
        </div>
    </div>

    <!-- Контейнер с таблицей -->
    <div id="jsonOutput" class="hidden">
        <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex justify-between items-center mb-4">
                <h3 class="text-xl font-semibold">Результаты</h3>
            </div>
            <div class="overflow-x-auto">
                <table class="w-full border-collapse">
                    <thead>
                        <tr class="bg-gray-100">
                            <th class="text-left py-3 px-4 border-b border-gray-200">Текст</th>
                            <th class="text-center py-3 px-4 border-b border-gray-200 w-32">Лейбл</th>
                        </tr>
                    </thead>
                    <tbody id="results-body" class="divide-y divide-gray-200"></tbody>
                </table>
            </div>
        </div>
    </div>
<!-- </div> -->

<script src="static/js/markup.js"></script>
{% endblock %}