<nav class="bg-white shadow-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-center items-center h-16">
            
            <a href="/" class="text-gray-700 hover:text-blue-500 px-4 py-2 text-lg font-medium">Главная</a>
            <a href="/inference" class="text-gray-700 hover:text-blue-500 px-4 py-2 text-lg font-medium">Анализ</a>
            <a href="/learning" class="text-gray-700 hover:text-blue-500 px-4 py-2 text-lg font-medium">Обучение</a>
            <a href="/markup" class="text-gray-700 hover:text-blue-500 px-4 py-2 text-lg font-medium">Разметка</a>
        </div>
    </div>
</nav>
    

